<section class="page-header">
  <img src="{{ '/images/logo.svg' | relative_url }}" alt="">
  <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
  <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
  {% if site.github.is_project_page %}
    <a href="{{ site.github.releases_url }}/download/{{ site.plugin_version }}/{{ site.plugin_name }}-{{ site.plugin_version }}.zip" class="btn">Download {{ site.plugin_version }}</a>
  {% endif %}
  <a href="{{ site.sections_url | relative_url }}" class="btn">Documentation</a>
  <a href="{% if site.github.repository_url %}{{ site.github.releases_url }}{% else %}{{ site.release_notes_filename | prepend: site.sections_url | relative_url }}{% endif %}" class="btn">Release Notes</a>
  {% if site.github.is_project_page %}
    <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
  {% endif %}
</section>
