<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#0099cc" />

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css' />
  {% if site.is_release_build == false %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" />
  {% else %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}" />
  {% endif %}
  <link rel="icon" href="{{ 'favicon.ico' | relative_url }}" />
  
  {% if site.is_release_build == false %}
    <meta property="og:type" content="website" />
    {% seo %}
  {% endif %}
</head>
