<section class="page-header">
  <img src="{{ "/images/logo.svg" | prepend: site.baseurl }}" alt="">
  <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
  <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
  {% if site.github.is_project_page %}
    <a href="{{ site.github.releases_url }}/download/{{ site.plugin-version }}/export-layers-{{ site.plugin-version }}.zip" class="btn">Download {{ site.plugin-version }}</a>
  {% endif %}
  <a href="{{ site.github.wiki_url | default: page.docs_url }}" class="btn">Documentation</a>
  <a href="{{ site.github.releases_url | default: page.releases_url }}" class="btn">Release Notes</a>
  {% if site.github.is_project_page %}
    <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
  {% endif %}
</section>