<head>
  <meta charset="utf-8">
  <title>{{ site.title }}{% if page.title != "" %}{{ ' - ' | append: page.title }}{% endif %}</title>
  <meta name="description" content="{{ page.description | default: site.description | default: site.github.project_tagline }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#0099cc">

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  {% if site.is_release_build == false %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  {% else %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  {% endif %}
  <link rel="icon" href="{{ 'favicon.ico' | relative_url }}"/>
  
  {% if site.is_release_build == false %}
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | absolute_url }}">
    <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  {% endif %}
</head>
