/**
 * Site header
 */
.site-header {
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 46px;
    font-weight: 600;
    padding-top: 10px;
}

.site-subtitle {
    font-size: 20px;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 10px;
}


/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}


/**
 * Link buttons
 */

a.button {
  border-style: solid;
  border-color: grey;
  border-width: 1px;
  border-radius: 5px;
  padding: 8px 27px;
  display: inline-block;
  color: black;
  background-color: white;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
}

a.button:hover {
  border-color: black;
  background-color: #f0f0f0;
}

a.button:active {
  outline-style: dotted;
  outline-color: black;
  outline-width: 1px;
}

a.download-button {
  background-color: #306bbd;
  color: white;
}

a.download-button:hover {
  background-color: #305991;
}


/**
 * Separators
 */

.vertical-bar-sep {
  margin: 0 5px;
}
